@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.hat {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 75rem;
    font-family: "Montserrat",sans-serif;
    font-style: bold;
    list-style: none;
    font-weight: 700;
    flex-wrap: wrap;
    row-gap: 1em;
}
.adress {
    display:flex;
    align-items: center;
    padding: 0;

} 
.adress_text {
    margin: 0;
    padding: 0;
}
.logo {
    padding-left: 5em;
    padding-right: 5em;
    margin: 0;
}
.tools{
    display: flex;
    margin-left: 3em;
    flex-direction: row;
    align-items: end;
    align-content: end;
    justify-content: space-between ;
    column-gap: 1em;
}
.hat_category {
    display: flex;
    background-color: #F0F0F4;
    align-items: center;
    width: 100%;
    height: 3em;
    margin:0;
    background: #F0F0F4;
    justify-content: space-between;
    font-weight: 500;
}
.hat_category li {
    color: black;
}
.hat_category li:after {
    display:block;
    content: '';
    border-bottom: solid 0.3em #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.hat_category li:before{
    position:absolute;
    bottom:1.2em; left:0;
    width:100%;
}
.hat_category li:hover:after,
 .hat_category li:hover:before { transform: scaleX(1); }

a {
    color: black;
}

.slider_sale {
    display: flex;
    justify-content: space-between;
    column-gap: 0em;
    margin: 0 auto; 
    margin-top: 3em;
    align-items: center;
    max-width: 75rem;
    align-items: center;
    align-content: center;
    
}
.slider_sale_slider {
    display: flex;
    margin: 0 auto;
    margin-left: 0;
    justify-content: center;
    overflow: hidden;
}
.slides {
    display: flex;
    justify-content: center;
    position: relative;
}
/* .slides input {
    position: absolute;
    bottom: 1em;
    position: absolute;
    visibility: hidden;
    margin-top: 2em;
} */
.navigation {
    position: absolute;
    bottom: 1.5em;
    left:27em;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.inputs {
    position: absolute;
    bottom: 1.43em;
    left: 27em;
    column-gap: 0.7em;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100px;
    visibility: hidden;
}
.bar {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    border: 1px solid #fff;
    margin-left: 0.4em;
    margin-right: 0.4em;
    cursor: pointer;
    transition: 0.4s;
    
}
.bar:hover {
    background: #fff;
  
  }
  /*Hide original html radios*/
.arrow-left {
    display: block;
    width: 50px;
    top: 12em;
    left: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.arrow-right {
      display: block;
      width: 50px;
      position: absolute;
      top: 12em;
      transform: translate(-50%, -50%);
      cursor: pointer;
}


.slider_sale_sale {
    border: 1px solid #F0F0F4 !important ;
    width: 17em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale_topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.sale_box_text {
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 2em;
    font-weight: 600;
    align-content: center;
    background-color: #1C62CD;
}
