@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.hat {
    display: flex;
    padding-left:20em;
    padding-right: 20em;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: "Montserrat",sans-serif;
    font-style: bold;
    list-style: none;
    font-weight: 700;
}
.adress {
    display:flex;
    align-items: center;
    padding: 0;

} 
.adress_text {
    margin: 0;
    padding: 0;
}
.logo {
    padding-left: 5em;
    padding-right: 5em;
    margin: 0;
}
.tools{
    display: flex;
    margin-left: 3em;
    flex-direction: row;
    align-items: end;
    align-content: end;
    justify-content: end;
    column-gap: 10px;
}
.har_slider {
    display: flex;
    background-color: #F0F0F4;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}